<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>LenaServlet</servlet-name>
        <servlet-class>com.lena.servlets.LenaServlet</servlet-class>
        <init-param>
            <param-name>dima</param-name>
            <param-value>Dimon</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.lena.servlets.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyController</servlet-name>
        <servlet-class>com.lena.servlets.MyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HtmlServlet</servlet-name>
        <servlet-class>com.lena.servlets.HtmlServlet</servlet-class>
        <init-param>
            <param-name>dima</param-name>
            <param-value>Dimon</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DimaServlet</servlet-name>
        <servlet-class>com.lena.servlets.DimaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dima2Servlet</servlet-name>
        <servlet-class>com.lena.servlets.Dima2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.lena.servlets.AddUserServlet</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>index2.jsp</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>LenaServlet</servlet-name>
        <url-pattern>/lenaTest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HtmlServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyController</servlet-name>
        <url-pattern>/myController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DimaServlet</servlet-name>
        <url-pattern>/dima</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Dima2Servlet</servlet-name>
        <url-pattern>/dima2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduserform</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
</web-app>